@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
i {
  cursor: pointer;
}
.products-box {
  width: 110%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.product-data {
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-right: 24px;
  transition: all 0.3s ease-in-out;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}

.product-data:hover {
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .product-data {
    width: 300px;
  }
}

.product-data .product-data-img {
  width: 200px;
  height: 225px;
  position: relative;
}

.product-data .product-data-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-data .product-data-text {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
}

.product-data .product-data-text.title {
  color: #e00a02;
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
}

.product-data .product-data-text.description {
  height: 50px;
  overflow: hidden;
}

.product-data .product-data-text.price {
  font-weight: 600;
}

.product-data .product-data-text.cart-price {
  font-weight: 600;
  color: #e00a02;
}

.cart-btn {
  justify-content: flex-end;
  position: absolute;
  right: 4%;
}

.cart-menu-btn {
  position: relative;
}

.cart-menu-btn .cart-indicator {
  width: 18px;
  background-color: #e00a02;
  padding: 3px;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  position: absolute;
  top: -17px;
  right: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-data .quantity-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  padding: 5px;
  border: 1px solid #b9b5b5;
  border-radius: 8px;
}

.product-data .quantity-box .action-btns {
  font-weight: 600;
  cursor: pointer;
}

/* summary box */
.summary-box {
  width: 300px;
  margin: 30px auto;
  border: 1px solid #b9b5b5;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.summary-box h5 {
  display: flex;
  border-bottom: 1px solid #e00a02;
  text-align: center;
  padding: 0px;
}

.summary-box div {
  display: flex;
  justify-content: space-between;
}

/* LOGIN & SIGN UP */
.container-login,
.container-signup {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 150vh;
  background: linear-gradient(
      rgba(250, 163, 157, 0.404),
      rgba(255, 255, 255, 0.068)
    ),
    url(../assets/images/banner.jpg);
  background-size: cover;
  background-position: center;
}
.container-login h1,
.container-signup h1 {
  margin-top: 35px;
  color: #94521c;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  /* margin-left: 75px; */
}
.container-login .form-group {
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  flex-direction: column;
}

.container-signup .form-group {
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  flex-direction: column;
  width: 500px;
}
.container-login .btn-box,
.container-signup .btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-login .btn-box .spannn,
.container-signup .btn-box .spannn {
  margin-top: 20px;
  margin-bottom: 20px;
}
.container-login .form-group label,
.container-signup .form-group label {
  text-align: left;
}

.container-login .form-group input,
.container-signup .form-group input {
  width: 100%;
}

/* success-msg */

/* .success-msg {
  position: absolute;
  top: 50%;
  right: 0;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 3px;
  font-size: 18px;
  z-index: 999;
} */
/* .success-msg::before {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(5, 5, 5, 0.356);
} */

.item__gioitinh {
  display: flex;
  margin-left: 20px;
}
.item__gioitinh input.gioitinh {
  border: none !important;
  box-shadow: none !important;
  margin-left: -110px;
  margin-top: 3px;
}
.item__gioitinh input.gioitinh:focus {
  box-shadow: none !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  scroll-behavior: none;
}

.navLink {
  position: relative;
  color: #94521c;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navLink p.username {
  line-height: 5px;
  font-size: 16px;
  width: 50px;
  height: 20px;
  background-color: #b65f17d2;
  padding: 3px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  position: absolute;
  top: -15px;
  right: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.custom {
  width: 70px;
  height: 50px;
}
.cartCustom {
  margin-left: 300px;
  position: relative;
}
.imgAVT {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #b65f17d2;
  margin-right: 10px;
}
.btn-md {
  background-color: #b65f17d2;
  color: #fff;
  font-size: 12px;
  padding: 6px 10px;
}
/* cart  */

.container-fluid {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.container-fluid .product-cart {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
}
.product {
  position: relative;
  margin: 0px 5px 25px 5px;
  display: flex;
  justify-content: flex-start;
  width: 97%;
  height: 150px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.product .product-img {
  margin-right: 24px;
}
.product .product-img img {
  height: 149px;
  object-fit: cover;
  width: 150px;
}
.product .title-cart-item {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  align-items: flex-start;
  height: 90%;
}
.product span {
  margin-top: 8px;
  color: #5e360381;
  font-size: 14px;
  font-style: italic;
  font-family: "Roboto", sans-serif;
  margin-right: 5px;
}
.product .product-text.name {
  margin-top: 5px;
  color: #5e3703fb;
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.product .product-text.type {
  margin-top: 8px;
  width: 300px;
  height: 100px;
  color: #5e360381;
  font-size: 14px;
  font-style: italic;
  font-family: "Roboto", sans-serif;
}
.product .product-text.price {
  color: #ff1e00;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  justify-content: flex-end;
  font-weight: bold;
}
.product .title-cart-item .product-text.quantity-box {
  /* width: 50px;
  display: flex;
  justify-content: center;
  align-items: center; */
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  padding: 5px;
  border: 1px solid #b9b5b5;
  border-radius: 8px;
}
.product .quantity-box .action-btns {
  font-weight: 600;
  cursor: pointer;
}
.product .cart-item-end {
  display: flex;

  margin-top: 10px;
}
.product .cart-item-end .cart-price {
  color: #ff1e00;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  justify-content: flex-end;
  font-weight: bold;
}
.product .km {
  position: absolute;
  bottom: 10px;
  right: 4%;
  display: flex;
  flex-direction: column;
}
.cart-indicator {
  width: 20px;
  height: 20px;
  background-color: #b65f17d2;
  padding: 3px;
  border-radius: 50%;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  position: absolute;
  top: -7px;
  right: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* modal css */
.shade-area {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-container {
  width: 300px;
  height: 480px;
  padding: 20px;
  background-color: #fff;
  position: relative;
  border-radius: 6px;
}

.delete-icon {
  background-color: #e00a02;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: pointer;
}
.shade-area .modal-container .form-group-cart {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background: transparent;
  padding-top: 20px;
  padding: 25px !important;
}
.shade-area .modal-container .form-group-cart .form-control-cart {
  width: 100%;
}

.btn-success {
  display: block;
  background-color: #b65f17d2;
  width: 100%;
  margin-top: 20px;
  height: 40px;
}

/* bill */

.ViewBill {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
}
.ViewBill .view__info {
  width: 20%;
  position: relative;
}
.ViewBill .view__info .info__top {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.ViewBill .view__info .info__top .view__info__avt {
  width: 50px !important;
  height: 50px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.ViewBill .view__info .info__top .view__info__avt img {
  position: absolute;
  object-fit: cover;
}
.ViewBill .view__info .info__top .view__info__title {
  margin-left: 20px;
  font-size: 18px;
}
.view__info__catalog {
  margin-top: 20px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.308);
  height: auto;
}
.view__info__catalog ul {
  position: relative;
}
.view__info__catalog ul li {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
  padding-left: 8px;
}
.view__info__catalog ul li:hover {
  background-color: #e9e7e7;
}
.view__info__catalog ul li span {
  font-size: 16px;
  margin-left: 8px;
}
.ViewBill .view__status {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}
.ViewBill .view__status .view__status__top {
  width: 100%;
  height: 50px;
}
.ViewBill .view__status .view__status__top ul {
  display: flex;
  width: 100%;
  margin-top: 10px;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgb(149 157 165 / 20%) 3px 6px 12px 6px;
  overflow: hidden;
}
.ViewBill .view__status .view__status__top ul li {
  padding: 13px 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
}
.ViewBill .view__status .view__status__top ul li.active::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: -25px;
  width: 50px !important;
  height: 50px !important;
  background-color: #fff;
  transform: rotate(45deg);
}
.ViewBill .view__status .view__status__top ul li.active::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: -50px;
  border: solid 25px;
  border-color: transparent transparent #b65f17d2 transparent;
  transform: rotate(90deg);
}
.ViewBill .view__status .view__status__top ul li span {
  font-size: 16px;
}
.ViewBill .view__status .view__status__top ul li.active {
  background-color: #b65f17d2;
}
.ViewBill .view__status .view__status__top ul li.active:hover {
  color: #ffffff;
}
.ViewBill .view__status .view__status__list {
  width: 100%;
  min-height: 200px;
  box-shadow: rgb(149 157 165 / 20%) 3px 6px 12px 6px;
  margin-top: 30px;
  padding: 20px;
}
.item__product {
  display: flex;
  justify-content: space-around;
}
.btn-end {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
